body {
    background-color: rgb(167, 136, 112);
   }
   button {
    background-color: rgb(114, 114, 177);
    color: blanchedalmond;
    
   }
   p {
    color: rgb(196, 13, 13);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: large;

   }
   h1 {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
   }

   h4 {
 
background-color: azure;
font-family: 'Times New Roman', Times, serif;
font-size: large;
   }

   