body {
    background-color: rgb(194, 178, 194);
   }
   button {
    background-color: rgb(114, 114, 177);
    color: blanchedalmond;
    
   }
   h1 {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: inherit;
   }

   h4 {
 
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
   }

   img {

   box-shadow: 15px 15px 20px rgba(0, 0, 0, 1.0);

   }

   button {
    color: aliceblue;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(153, 130, 175);

   }

   p {
    
    background-color:white ;
    color: black;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.8) ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: italic;

   }